* {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: #D0E3CC;
    overflow: hidden;
}

hr {
    border: 1px solid black;
}

.button {
    font-size: 150%;
}